{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": 2,
        "@typescript-eslint/no-empty-interface": 0,
        "semi": "off",
        "@typescript-eslint/semi": ["error"],
        "@typescript-eslint/member-delimiter-style": ["error", {
            "multiline": {
              "delimiter": "semi",
              "requireLast": true
            },
            "singleline": {
              "delimiter": "semi",
              "requireLast": false
            }
        }]
    }
}
